<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
<context:component-scan base-package="com.vaibhav">

</context:component-scan>

    <!--Q1.-->

    <!--<bean class="com.vaibhav.Database">-->
        <!--<property name="port" value="2020"></property>-->
        <!--<property name="name" value="com.vaibhav.Vaibhav"></property>-->
    <!--</bean>-->

    <!--<bean id="tea" class="com.vaibhav.Tea">-->

    <!--</bean>-->

    <!--<bean id="hotDrink" class="com.vaibhav.ExpressTea">-->

    <!--</bean>-->









    <!--Q4.-->



    <!--<bean name="expressRestaurant" class="com.vaibhav.Restaurant">-->


        <!--<property name="hotDrink">-->
            <!--<bean class="com.vaibhav.ExpressTea"></bean>-->
        <!--</property>-->
    <!--</bean>-->



    <!--Q5.-->


    <!--complexBean. Get the bean and display the properties.-->
    <!--<bean class="com.vaibhav.Complex" name="complexBean">-->
    <!--<property name="list">-->
    <!--<list>-->
    <!--<value>abc</value>-->
    <!--<value>xyz</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--<property name="set">-->
        <!--<set>-->
            <!--<value>first</value>-->
            <!--<value>second</value>-->
        <!--</set>-->
        <!--</property>-->
        <!--<property name="map">-->
         <!--<map>-->
            <!--<entry key="1" value="Vaibhav"></entry>-->
            <!--<entry key="2" value="Wahi"></entry>-->
    <!--</map>-->
    <!--</property>-->
    <!--</bean>-->




    <!--<Q6.>-->
    <!--Autowire hotDrink in Restaurant with tea bean byName, byType and constructor.-->
    <bean id="restaurant" class="com.vaibhav.Restaurant" autowire="byName" scope="prototype"/>

    <!--<bean id="restaurnat" class="com.vaibhav.Restaurant" autowire="byType" />-->




    <!--<bean id="hotDrink" class="Tea">-->


    <!--</bean>-->
    <!--<bean id="restaurant" class="com.vaibhav.Restaurant" autowire="byName" />-->

</beans>